@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  height: 100%;
}

body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", serif;
  font-weight: 400;
  line-height: 1.65;
  max-width: 100vw;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

header {
  padding: 30px;
  background-color: black;
  text-align: center;
}

header img {
  border-radius: 0;
  width: 200px;
}

.container {
  text-align: center;
  padding: 30px;
}

.container-card {
  text-align: center;
  padding: 30px;
  border: 2 solid grey;
  margin-bottom: 50px;
}

.start h1 {
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 700;
}

.start p {
  margin-bottom: 20px;
  color: inherit;
}

.start button {
  padding: 10px;
  width: 40%;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #f04c2f;
  color: white;
  border: none;
  font-family: "Open Sans", serif;
}

.start {
  background-image: url(../images/banner.jpg);
  padding: 30px;
  background-size: contain;
  text-align: center;
  padding: 50px;
}

.info h2 {
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 20px;
}

img {
  border-radius: 50%;
  width: 70%;
  margin-bottom: 20px;
}

.bg-orange {
  background-color: #ee2d05;
  text-align: center;
  padding: 50px;
  color: white;
  margin-bottom: 10px;
}

.bg-orange h2 {
  color: white;
  padding: 20px;
  font-size: 1.8em;
}

.bg-orange p {
  padding-bottom: 0;
}

.card {
  width: 100%;
  border: thin;
  border-color: #dee1e3;
  border-style: groove;
  padding-bottom: 30px;
}

.img-card {
  width: 100%;
  border-radius: 0;
}

footer {
  background-color: #30a9c9;
  text-align: center;
  padding: 50px;
  color: #c8e7f0;
}

footer h2 {
  color: white;
  font-size: xx-large;
  margin-bottom: 10px;
}

footer a {
  color: #c8e7f0;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 50%;
}

.fas {
  margin: 5px;
  font-weight: bold;
}
